* {
  box-sizing: border-box;
}
.dashboard-container {
  min-height: 100vh;
}

.navigation {
}

.logo-container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1em;
  height: 70px;
  color: var(--text-color);
box-shadow: var(--bentoborder-color) -8px 2px 8px 0px;
z-index: 2;
}

.top-bar {
  width: 100%;
  background-color: var(--bg-color);
  height: 70px;
  box-shadow: var(--bentoborder-color) -8px 2px 8px 0px;
  padding: 1em 1.5em;
}

nav.menu {
    height: 100%;
  width: 100%;
  padding: 1em;
box-shadow: var(--bentoborder-color) 0px 10px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.menu-item {
    color: var(--text-color);
  padding: 10px;
  border-radius: 16px;
}

.menu-item:hover{
    color: var(--linkhover-color);
    transition: 0.2s;
    background-color: var(--square-hover-color);
}

.dashboard {
  background-color: var(--bento-color);
  transition: 0.2s;
}

.icon{
    color: var(--text-color);
     transition: color 0.2s;
}
.icon:hover{
    transition: color 0.2s;
    color: var(--linkhover-color);
}

.admin-info{
    cursor: pointer;
        color: var(--text-color);
}

.admin-pic{
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.seperator{
    color: var(--disabled-color);
}
