.header{
    color: var(--active-color);
}
.welcome{
    background-color: var(--active-color);
    color: white;
}

.welcome .description{
    color: rgb(197, 197, 197);
}

.welcome .sign-up{
    border: 1px solid white;
    border-radius: 1em;
    width: 200px;
    height: 50px;
    transition: 0.3s;
}

.welcome .sign-up:hover{
    background-color: white;
    color: var(--active-color);
    transition: 0.3s;
}



.login-option{
    color: var(--text-color);
    background-color: var(--square-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 20px;
    height: 20px;
border-radius: 1em;
transition: background-color 0.3s;
backdrop-filter: blur(3px);
}
.login-option:hover{
    transition: background-color 0.3s;
    background-color: var(--square-hover-color);
    cursor: pointer;
}

.link{
    color: var(--star-color);
    transition: color 0.3s;
}

.link:hover{
    transition: color 0.3s;
    color: var(--text-color);
}

.login-btn{
    background-color: var(--active-color);
    transition: background-color 0.3s;
}

.login-btn:hover{
    background-color: var(--active-color-hover);
    transition: background-color 0.3s;
}