.bento-container {
  display: grid;
  gap: 1em;
  width: 100%;
}

.introduction {
  grid-area: a;
}

.education {
  grid-area: c;
}

.theme-switch {
  grid-area: d;
}

.languages {
  grid-area: e;
}

.email {
  grid-area: f;
}

.experience {
  grid-area: g;
}

.skills {
  grid-area: h;
}

.linkedin {
  grid-area: i;
}

.github {
  grid-area: j;
}

.resume {
  grid-area: k;
}

.portfolio {
  grid-area: l;
width: 800px;
/* ???? fix this ?? plzz help me god */
}

.blogs {
  grid-area: m;
}


.swiper {
  width: 100%;
  height: 100%;
}


.swiper-slide img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1em;
}

/* Responsive Design for Grids */
@media (max-width: 639px) {
  .bento-container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-template:
      "a a a a a"
      "a a a a a"
      "a a a a a"
      "c c c c c"
      "c c c c c"
      "k k k k k"
      "j i d d d"
      "h h h h h"
      "h h h h h"
      "g g g g g"
      "g g g g g"
      "e e e e f"
      "e e e e f"
      "l l l l l"
      "l l l l l"
      "m m m m m";
    gap: 0.5em;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .bento-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template:
      "a a a a a a"
      "k k k k d d"
      "h h h c c c"
      "e e e e f i"
      "g g g g j j"
      "l l l l l l"
      "l l l l l l"
      "m m m m m m"
      "m m m m m m";
    gap: 0.75em;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .bento-container {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(14, 1fr);
    grid-template:
      "a a a a a a c c"
      "a a a a a a c c"
      "a a a a a a e e"
      "k k k k k k f f"
      "h h h h d d g g"
      "h h h h i i g g"
      "j j j j i i g g"
      "l l l l l l m m"
      "l l l l l l m m"
      "l l l l l l m m"
      "l l l l l l m m"
      "l l l l l l m m"
      "l l l l l l m m"
      "l l l l l l m m";
    gap: 1em;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .bento-container {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-template:
      "a a a a a a c c c d d"
      "a a a a a a c c c e e"
      "a a a a a a c c c e e"
      "a a a a a a c c c e e"
      "a a a a a a k k k k f"
      "h h h h h i i g g g g"
      "h h h h h i i g g g g"
      "h h h h h i i g g g g"
      "h h h h h i i g g g g"
      "h h h h h j j g g g g"
      "h h h h h j j g g g g"
      "h h h h h l l l l l l"
      "m m m m m l l l l l l"
      "m m m m m l l l l l l"
      "m m m m m l l l l l l"
      "m m m m m l l l l l l";
    gap: 1em;
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  .bento-container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(18, 1fr);
    grid-template:
      "a a a a a a c c c d d d"
      "a a a a a a c c c e e e"
      "a a a a a a c c c e e e"
      "a a a a a a c c c e e e"
      "a a a a a a k k k k k f"
      "h h h h h i i g g g g g"
      "h h h h h i i g g g g g"
      "h h h h h i i g g g g g"
      "h h h h h i i g g g g g"
      "h h h h h j j g g g g g"
      "h h h h h j j g g g g g"
      "h h h h h l l l l l l l"
      "m m m m m l l l l l l l"
      "m m m m m l l l l l l l"
      "m m m m m l l l l l l l"
      "m m m m m l l l l l l l"
      "m m m m m l l l l l l l"
      "m m m m m l l l l l l l";
    gap: 1em;
  }
}

@media (min-width: 1536px) {
  .bento-container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(18, 1fr);
    grid-template:
      "a a a a a a c c c d d d"
      "a a a a a a c c c e e e"
      "a a a a a a c c c e e e"
      "a a a a a a c c c e e e"
      "a a a a a a k k k k k f"
      "h h h h h i i g g g g g"
      "h h h h h i i g g g g g"
      "h h h h h i i g g g g g"
      "h h h h h i i g g g g g"
      "h h h h h j j g g g g g"
      "h h h h h j j g g g g g"
      "h h h h h l l l l l l l"
      "m m m m m l l l l l l l"
      "m m m m m l l l l l l l"
      "m m m m m l l l l l l l"
      "m m m m m l l l l l l l"
      "m m m m m l l l l l l l"
      "m m m m m l l l l l l l";
    gap: 1em;
    height: 1000px;
  }
}
