.bento-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(18, 1fr);
  gap: 1em;
  width: 100%;
  height: 1400px;
  grid-template:

    "a a a a a a c c c d d d"
    "a a a a a a c c c e e e"
    "a a a a a a c c c e e e"
    "a a a a a a c c c e e e"
    "a a a a a a b b b b b b"
    "f f g g g g g h h h h h"
    "f f g g g g g h h h h h"
    "i i g g g g g h h h h h"
    "i i g g g g g h h h h h"
    "j j k k k k k h h h h h"
    "j j k k k k k h h h h h"
    "l l l l l l l h h h h h"
    "l l l l l l l m m m m m"
    "l l l l l l l m m m m m"
    "l l l l l l l m m m m m"
    "l l l l l l l m m m m m"
    "l l l l l l l m m m m m"
    "l l l l l l l m m m m m"
;
}

.div1 {
  grid-area: a;
}

.div2 {
  grid-area: b;
}

.div3 {
  grid-area: c;
}

.theme-switch {
  grid-area: d;
}

.div5 {
  grid-area: e;
}

.div6 {
  grid-area: f;
}

.div7 {
  grid-area: g;
}

.div8 {
  grid-area: h;
}

.div9 {
  grid-area: i;
}

.div10 {
  grid-area: j;
}

.div11 {
  grid-area: k;
}

.div12 {
  grid-area: l;
}

.div13 {
  grid-area: m;
}
