.bento-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(18, 1fr);
  gap: 1em;
  width: 100%;
  height: 1400px;
  grid-template:

    "a a a a a a c c c d d d"
    "a a a a a a c c c e e e"
    "a a a a a a c c c e e e"
    "a a a a a a c c c e e e"
    "a a a a a a k k k k k f"
    "h h h h h i i g g g g g"
    "h h h h h i i g g g g g"
    "h h h h h i i g g g g g"
    "h h h h h i i g g g g g"
    "h h h h h j j g g g g g"
    "h h h h h j j g g g g g"
    "h h h h h l l l l l l l"
    "m m m m m l l l l l l l"
    "m m m m m l l l l l l l"
    "m m m m m l l l l l l l"
    "m m m m m l l l l l l l"
    "m m m m m l l l l l l l"
    "m m m m m l l l l l l l"
;
}

.introduction {
  grid-area: a;
}

.education {
  grid-area: c;
}

.theme-switch {
  grid-area: d;
}

.languages {
  grid-area: e;
}

.email {
  grid-area: f;
}

.experience {
  grid-area: g;
}

.skills {
  grid-area: h;
}

.linkedin {
  grid-area: i;
}

.github {
  grid-area: j;
}

.resume {
  grid-area: k;
}

.portfolio {
  grid-area: l;
}

.blogs {
  grid-area: m;
}

/* Responsive Design for Grids */
@media (min-width: 640px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}

@media (min-width: 1536px) {

}